<h1>所有待办事项</h1>
<table class="table">
    <thead>
        <tr>
            <th>描述</th>
            <th>是否完成</th>
            <th>操作栏</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(id,todo) in todos">
            <td>{{todo.name}}</td>
            <td>
                <div class="btn btn-default" ng-click="toggleCompleted(todo)">
                    <span class="glyphicon" ng-class="todo.completed ? 'glyphicon-check' : 'glyphicon-unchecked'"></span>
                </div>
            </td>
            <td>
                <div class="btn btn-default" ng-click="show(todo)">展示</div>
                <div class="btn btn-default" ng-click="edit(todo)">编辑</div>
                <div class="btn btn-default" ng-click="remove(todo)">删除</div>
            </td>
        </tr>
    </tbody>
</table>